.conteudo{
    align-items: center;
    text-align: center;
    padding: 2em 0;
}

.conteudo_generico{
    color: var(--vermelho);
    font-weight: 600;
    
}

.conteudo_paragrafo{
    margin: 1em;
    font-size: 48px;
    font-weight: 600;
}

.conteudo_texto{
    margin: auto;
    width: 44%;
    font-size: 20px;
    color: var(--cinza-claro);
}