.feedback{
    width: 75%;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    
}

.feedback_texto{
    color: var(--vermelho);
    font-weight: 600;
    font-size: 14px;
}

.feedback_titulo{
    font-size: 36px;
    font-weight: 500;
    color: var(--azul);
    margin: 1em;
}
.feedback_imagem{
    margin: 1.5em;
}

.nome_feddback{
    margin: 0.5em;
    font-weight: 500;   
    color: var(--azul);
}

.funcao_fedback{
    font-size: 14px;
    color: var(--cinza-claro);
}